.DivList {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: repeat(1, auto);
}

.DivItems {
    display: flex;
    width: 100%;
}

@media (max-width: 768px) {
    .DivItems {
        width: 90%
    }
    .LiAchievemet {
        width: 90%
    }
}

@media (max-width: 475px) {
    .DivItems {
        width: 80%
    }
    .LiAchievemet {
        width: 80%
    }
}

.LiAchievemet {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding-right: 10px;
    list-style-type: none;
    border-radius: 5px;
    border-color: #abc1d3;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 3%;
    margin-right: 6%;
    width: 100%;
}

.SpanPoints {
    float: right;
}

.ImgPoints {
    float: right;
    padding-top: 4px;
    margin-left: 3px;
}

.DivButtons {
    grid-template-columns: (auto-fill, 20px);
    padding-top: 8px;
    position: absolute;
    right: 0;
    padding-right: 5%;
}

.ImgEdit {
    margin-right: 10px;
}

.LiAchievemet input{
    color: #F67B27;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;

    
    margin: 0.7em 0 1em 0em;
    box-sizing: border-box;
    border-width: 0 0 2px 0;
    border-color: #f1f1f1;
    background: #f9f9f9;
    outline: none;
    padding: 7px 0 7px 10px;
    font-size: 15px;
    transition: all ease-in-out 0.3s;
    border-radius: 5px;
}

.LiAchievemet input.InputName {
    width: 60%;
}

.LiAchievemet input.InputPoints{
    width: 30%;
}

.points-content{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}