.DivList{
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: repeat(1, auto);
}
.DivItems{
    display:flex;
    width:100%;
}
@media (max-width: 768px) {
    .DivItems {
        width:90%
    }
    .LiAchievemet{
        width:90%
    }
}
@media (max-width: 475px) {
    .DivItems {
        width:80%
    }
    .LiAchievemet{
        width:80%
    }
}
.LiAchievemet{
    padding:5px;
    padding-right:10px;
    list-style-type: none;

    border-radius:5px;
    border-color: #abc1d3;
    border-style: solid;
    border-width:1px;

    margin-bottom:3%;
    text-align:left;
    margin-right:6%;
    width:100%;
}
.SpanPoints{
    float:right;
}
.ImgPoints{
    float:right;
    padding-top:4px;
    margin-left:3px;
}
.DivButtons{
    grid-template-columns: (auto-fill, 20px);
    padding-top:8px;
    position:absolute;
    right:0;
    padding-right:5%;
}
.ImgEdit{
    margin-right: 10px;
}