/* Achievements */

.achievement {
    margin: 0;
    padding: 0;
}

.achievementsCont {
    padding: 5%;
}

/* Employees y Prizes */

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: .5rem;
    justify-items: center;
}

a {
    text-decoration: none;
    color: initial;
}