.detail-details {
    padding: 2% 10%;
    margin: 3% 15%;
    background: white;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #dfdfdf;
}

.detail-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.detail-image {
    display: block;
    width: 200px;
    height: auto;
    border-radius: 5px;
}

.detail-description {
    margin: 2em 4em;
}

.detail-item {
    margin: 2em 0;
    display: block;
    width: 80%;

}
.detail-item input{
    color: #F67B27;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    display:block;
    
    margin: 0.7em 0 1em 0em;
    box-sizing: border-box;
    border-width: 0 0 2px 0;
    border-color: #f1f1f1;
    background: #f9f9f9;
    outline: none;
    padding: 7px 0 7px 10px;
    font-size: 15px;
    transition: all ease-in-out 0.3s;
    border-radius: 5px;
}

@media only screen and (max-width: 1040px) {
    /*shows elements in a column*/
    .detail-content {
        flex-direction: column;
    }
}

.prizesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: .1rem;
    justify-items: center;
}

.icons {
    color: #62E52C;
    padding: 0 8px;
}

.trash-content {
    text-align: right;
    padding-bottom: 10px;
}