h1 {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: normal;
}

h2 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
}

body, html {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
}

.page-title{
  text-align: center;
  font-size: 2em;
}