h1 {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: normal;
}

h2 {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
}