h1 {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: normal;
}

h2 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
}

body, html, button {
  font-family: 'Open Sans';
}

body, html {
  font-weight: normal;
  font-style: normal;
}

.page-title {
  text-align: center;
  font-size: 2em;
}

.page-subtitle {
  text-align: center;
  font-size: 1.7em;
}